#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  kitchenowl-app.service
BindsTo=kitchenowl.service
After=kitchenowl.service postgresql-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p config
ExecStartPre=/bin/rm -f %t/kitchenowl-app.pid %t/kitchenowl-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStartPre=/bin/sh -c 'grep -q JWT_SECRET_KEY environment || echo "JWT_SECRET_KEY=`openssl rand -base64 32`" >> environment'
ExecStart=/usr/bin/podman run --conmon-pidfile %t/kitchenowl-app.pid \
    --cidfile %t/kitchenowl-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/kitchenowl.pod-id --replace -d --name  kitchenowl-app \
    --volume kitchenowl-app:/data:Z \
    --env JWT_SECRET_KEY=${JWT_SECRET_KEY} \
    --env DB_DRIVER=postgresql \
    --env DB_HOST=postgresql-app \
    --env DB_NAME=kitchenowl \
    --env DB_USER=postgres \
    --env DB_PASSWORD=Nethesis,1234 \
    ${KITCHENOWL_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/kitchenowl-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP kitchenowl-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/kitchenowl-app.ctr-id
PIDFile=%t/kitchenowl-app.pid
Type=forking

[Install]
WantedBy=default.target
